body{
    margin:0;
    padding:0;
    background: url(https://images.unsplash.com/photo-1536066601496-5fe3acf5d0ec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) repeat-x #e0e0df;
}
a{
    text-decoration: none;
    }
    .sayfa{
        width: 980px;
        margin:auto;
        }
        .siteadi a h1{
            text-align: center;
            margin:35px 0 0 0;
            padding:0;
            font-size:4em;
            font-family: sans-serif;
            color:#868686;
            text-shadow: #4c4b4b -1px -1px,#fff 1px 1px;
            }
            .slogan p{
                padding:0;
                margin:0;
                text-align: right;
                padding-right: 240px;
                color:#ffffff;
                font-size: 1.2em;
                font-family: sans-serif;
                font-style: italic;
            }
            .ust-menu ul li{
                float: left;
                border-left:#a8c5de solid 1px;
                border-right:#92afc8 solid 1px;
            }
            .ust-menu ul li:first-child{
                border-left:none;
            }
             
            .ust-menu ul li:last-child{
                border-right:none;
            }
            .ust-menu ul li a{
                display: block;
                height: 50px;
                line-height: 50px;
                padding:0 40px;
                font-size: 1.2em;
                font-family: sans-serif;
                color:#fff;
            }            
            .ust-menu ul li a:hover{
                background: #3368a4;
                }