body{
    margin:0;
    padding:0;
    background: url(https://images.unsplash.com/photo-1615806528302-05c722d51e0d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHRleHRpbGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) repeat-x #e0e0df;
}
a{
    text-decoration: none;
    }
    .sayfa{
        width: 980px;
        margin:auto;
        }
        .siteadi a h1{
            text-align: center;
            margin:35px 0 0 0;
            padding:0;
            font-size:4em;
            font-family: sans-serif;
            color:#868686;
            text-shadow: #4c4b4b -1px -1px,#fff 1px 1px;
            }
            .slogan p{
                padding:0;
                margin:0;
                text-align: right;
                padding-right: 240px;
                color:#ffffff;
                font-size: 1.2em;
                font-family: sans-serif;
                font-style: italic;
            }