.form-group{
    background-color: #F8B195;
    padding: 10px;
    width: 50%;
    border-radius: 4px;
}
label{
    padding: 3px 3px;
    color: #355C7D;
    display: block;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input[type="text"],select{
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    display: block;
    border: 2px solid #6C5B7B;
    border-radius: 3px;
    box-sizing: border-box;
}
button[type="button"]{
    width: 100%;
    background-color: #C06C84;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}