*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    position: relative;
    height: 60vh;
    background-color: blueviolet;
}
h1{
    color: #fff;
    padding: 5rem;
}
button{
    border: none;
    padding: 1rem 4rem;
    border-radius: 10px;
    margin: 5rem;
}
.custom-shape-divider-bottom-1630874542 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1630874542 svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1630874542 .shape-fill {
    fill: #FFFFFF;
}
