ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 200px;
    display: inline-block;
}
ul li a {
    padding: 12px;
    display: block;
    text-decoration: none;
    background-color: #289177;
    color: #fff;
    font-size: 18px;
    border-left:5px solid #289177;
}
ul li a.active {
    background-color: #e4c61c;
    border-left:5px solid #f27a34;
}
