body{
    margin-top: 10px;
    margin-left: 10px;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: gray;
    overflow: auto;
}
ul li {
    float:left;
    border-bottom:2px solid #888;
}
ul li a {
    padding: 12px;
    display: block;
    text-decoration: none;
    background-color:gray;
    color: #fff;
    font-size: 18px;
    border-left:5px solid gray;
}
ul li a.active {
    background-color:rgb(192, 168, 168);
    border-left:5px solid #8b766988;
}
ul li.menu-right{
    float:right;
}
ul li:hover:not(.active) {
    background-color: rgb(192, 168, 168);
    border-bottom:5px solid #2e1b3d83;
}
.fa-instagram-square{
    background: #c998d3;
    color: white;
}