body{
    background-color: rgb(180, 180, 221);
}
p{
    color: rgb(205, 139, 214);
}
h1{color: violet;}
li{
    color: rgb(145, 255, 71);
}
b{
    color: thistle;
}
#username{
    background-color: rgba(255, 105, 180, 0.315);
}
#password{
    background-color: rgba(105, 200, 255, 0.616);
}
#send{
    background-color: rgb(85, 130, 0);
}