*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffecf4;
}
.menu-bar{
    font-family: 'Oxygen', sans-serif;
    font-size: 22px;
    color: gray;
    text-align: center;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 30px;
}
h2{
    font-family: 'Oxygen', sans-serif;
    color: gray;
}
h3{
    font-family: 'Oxygen', sans-serif;
    color: #d85e8f;
    font-size: 22px;
    font-weight: bold;
}
p{
    font-family: 'Oxygen', sans-serif;
    color: #444444; 
    font-size: 16px;
}
.link{
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ad58c2;
    text-decoration: none;
}
.all-prd{
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:mediumslateblue;
}
#icon{
    text-decoration: none;
    margin-right: 6px;
}
