body{
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}
li{
    float: left;
    border-left: 1px solid #555;
}
li a, .dp-btn{
    color: white;
    padding: 16px 16px;
    display: block;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
a.active{
    background-color: rgb(146, 94, 94);
}
li a:hover, .dropdown:hover .dp-btn{
    background-color: #111;
}
div{
    padding: 20px;
}

@media screen and (max-width:600px) {
    ul li{
        float: none;
    } 
}
.dp-content{
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);

}
.dropdown:hover .dp-content{
    display: block;
}
.dp-content a:hover{
    background-color: rgb(146, 94, 94);
}
body {
    background-image: url(https://images.unsplash.com/photo-1498831624351-bb3e382fe091?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  ul li.menu-right{
    float:right; 
  }

