*{
  box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #dbdbdb;
    font-family: 'Oxygen', sans-serif;
}
#social{
    background-color: black;
    color: white;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 18px;
    text-align: right;
    padding: 10px;
}
h3{
    float: left;
    letter-spacing: 6px ;
}
span{
    font-size: 15px;
    letter-spacing: 2px;
}
#social i{
    margin-right: 15px;
}